@media (max-width: 992px) {
    .nav-link dropdown-toggle{

    }

    /* Optional: Adjust the font size of the toggler button */
    .navbar-toggler-icon {
        font-size: 20px; /* This can be adjusted for the hamburger icon */
    }
}
/* Navbar.css */
.subcategory-list {
    flex-grow: 1;
    max-height: 300px;
    overflow-y: auto;
    min-width: 200px;
}

.category-image {
    flex-shrink: 0;
    margin-left: 10px;
    min-width: 120px;
}

@media (max-width: 576px) {
    .dropdown-menu {
        width: 100%;
        padding: 0;
    }

    .subcategory-list, .category-image {
        width: 100%;
    }
}
.navbar {
    background-color: black; /* Dark background */
  }
  
